*{
    padding: 0;
    margin: 0;
    font-family:'Segoe UI';
}

/* barre de navigation */
header{
    background-color: #fff;
    border: solid;
    border-color: black;
    padding: 5px;
    position:fixed;
    top:0px;
    width:100%;
    z-index: 4;
}

header nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header nav h3{
    margin-left: 10px;
    font-size: 1.6em;
}

header nav ul{
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    width: 55vw;
}

header nav ul li{
    margin-top: 15px;
    margin-bottom: 15px;
}

header nav ul li a{ /*pour le boutton*/
    border: solid;
    border-color: black;
    border-radius:10px;
    padding: 10px;
    text-decoration: none;
    color: black;
}

header nav li a:hover {
	background-color: greenyellow;
	color: #fff;
	border-radius: 5px;
}
/*fin barre de navigation*/

/*footer*/

footer{
    background-color: rgb(45, 45, 45);
    color:rgb(211, 211, 198);
    padding: 5vh;
    display: flex;
    justify-content: space-around;
}
/*fin footer*/


/*pour les article en général*/ /*fair un boutton de bas et des cardes*/
article{
    padding: 10px;
    display: flex;
    /*text-align: center;*/
}
/*fin des généraliter d'articles*/

/*article 1*/
.article1{
    background-image: url('../images/imageFD10.jpg');
    height: 50vw; 
    background-size: cover;
    background-attachment: fixed;

    
    flex-direction: column;
    justify-content: center;

}
.article1 h1{
    color :blanchedalmond;
    margin-left: 20%;
    font-size: 7vw;
    /*font-size: 5em;*/
}
/*fin article1*/

/*article 2*/
.article2{
    /*background-image: url('../images/imageFD7.jpg');*/
    background-color: rgb(152, 255, 255);
    height: 70vh; /* faire un truc pour que si la fenêtre a une largeur inferieur à une certaine valeur ca passe en vw*/
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}

.article2 div{  /*pour le titre et le text (h2+p)*/
    margin: 10px;
    padding: 10px;
}

.article2 div h2{ /*pour le titre*/
    background-color:yellow;
    padding: 10px;
    border: solid;
    border-color: black;
    border-bottom: 1px;
    border-radius: 20px 20px 0px 0px;
    display: flex;
    justify-content: center;
}
.article2 div p{ /*pour le text*/
    background-color: yellow;
    padding: 10px;
    border: solid;
    border-color: black;
    border-radius: 0px 0px 20px 20px;
}

.article2 a{ /*pour le boutton*/
    border: solid;
    border-color: black;
    border-radius:10px;
    padding: 10px;
    background-color: yellow;
    text-decoration: none;
    color: black;
}

.article2 a:hover{
    border-radius: 5px;
}

/*fin article 2*/

/*article 3*/
.article3{
    background-color: rgb(255, 117, 121);
    height: 70vh;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}

.article3 div{  /*pour le titre et le text (h2+p)*/
    box-shadow: 15px 16px blue;
    border-radius: 20px;
    margin: 20px;
}

.article3 div h2{ /*pour le titre*/
    background-color:yellow;
    padding: 10px;
    border: solid;
    border-color: black;
    border-bottom: 1px;
    border-radius: 20px 20px 0px 0px;
    display: flex;
    justify-content: center;
}
.article3 div p{ /*pour le text*/
    background-color: yellow;
    padding: 10px;
    border: solid;
    border-color: black;
    border-radius: 0px 0px 20px 20px;
}

.article3 a{
    border: solid;
    border-color: black;
    border-radius:10px;
    padding: 10px;
    background-color: yellow;
    text-decoration: none;
    color: black;
}
.article3 a:hover{
    border-radius: 5px;
}

/*fin article 3*/

/*article 4*/
.article4{
    background-color: rgb(63, 249, 147);
    height: 70vh;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}
.article4 div{  /*pour le titre et le text (h2+p)*/
    border: solid;
    border-color: black;
    padding: 20px;
    background-color: #fafa1a;
    border-radius: 20px;
}

.article4 div h2{ /*pour le titre*/
    border: solid;
    border-color: black;
    display: flex;
    justify-content: center;
    border-radius: 20px;
}
.article4 div p{ /*pour le text*/
    margin: 15px;
}

.article4 a{
    border: solid;
    border-color: black;
    border-radius:10px;
    padding: 10px;
    background-color: yellow;
    text-decoration: none;
    color: black;
}
.article4 a:hover{
    border-radius: 5px;
}

/*fin article 4*/

/*article 5*/
.article5{
    background-image: url('../images/imageFD3.jpg');
    height: 100vh; 
    background-size: cover;
    background-attachment: fixed;

    display: flex;
    flex-direction: column;
    justify-content: center;
}
.article5 h1{
    color :blanchedalmond;
    margin-left: 20%;
    font-size: 5em;
}

/*fin article 5*/

/*article 6*/
/*
.article6{
    background-color: rgb(242, 212, 20);
    height: 60vh;
}*/
.article6{
    /*background-image: url('../images/imageFD7.jpg');*/
    background-color: rgb(242, 212, 20);
    height: 60vh; 
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}

.article6 div{  /*pour le titre et le text (h2+p)*/
    margin: 10px;
    padding: 10px;
    width: 40%;
}

.article6 div h2{ /*pour le titre*/
    background-color:yellow;
    padding: 10px;
    border: solid;
    border-color: black;
    border-bottom: 1px;
    border-radius: 20px 20px 0px 0px;
    display: flex;
    justify-content: center;
}
.article6 div p{ /*pour le text*/
    background-color: yellow;
    padding: 10px;
    border: solid;
    border-color: black;
    border-radius: 0px 0px 20px 20px;
}

/*fin article 6*/

/*article 7*/
/*
.article7{
    background-color: rgb(20, 235, 242);
    height: 60vh;
}*/
.article7{
    background-color: rgb(244, 108, 140);
    height: 60vh ;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}

.article7 div{
    width: 40%;
    border: solid;
    border-color: black;
    padding: 20px;
    background-color: #fafa1a;
    border-radius: 20px 20px 0px 0px;
}

.article7 div h2{
    border: solid;
    border-color: black;
    display: flex;
    justify-content: center;
    border-radius: 20px;
}

.article7 div p{
    margin: 15px;
}

/*fin article 7*/

/*article 8*/
.article8{
    background-image: url('../images/imageFD9.jpg');
    height: 100vh; 
    background-size: cover;
    background-attachment: fixed;

    display: flex;
    flex-direction: column;
    justify-content: center;
}
.article8 h1{
    color :blanchedalmond;
    margin-left: 20%;
    font-size: 5em;
}
/*fin article 8*/

/*article 9*/
.article9{
    background-color: rgb(58, 209, 255);
    height: 60vh;
}
/*fin article 9*/

/*article 10*/
.article10{
    background-image: url('../images/imageFD8B.jpg');
    
    height: 100vh; 
    background-size: cover;
    background-attachment: fixed;

    display: flex;
    flex-direction: column;
    justify-content: center;
}
.article10 h1{
    color :blanchedalmond;
    margin-left: 20%;
    font-size: 5em;
}
/*fin article 10*/

/*article 11*/
.article11{
    background-color: rgb(187, 255, 0);
    height: 60vh;
}
/*fin article 11*/

/*article 12*/
/*
.article12{
    background-color: rgb(255, 102, 0);
    height: 60vh;
}*/

/*début article 12*/
.article12{
    background-color: rgb(134, 161, 247);
    height: 70vh;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}

.article12 div{
    box-shadow: 15px 16px blue;
    margin: 20px;
    width: 40%;
}

.article12 div p{
    background-color: yellow;
    padding: 10px;
    border: solid;
    border-color: black;
}

.article12 div h2{
    background-color:yellow;
    padding: 10px;
    border: solid;
    border-color: black;
    border-bottom: 1px;
    display: flex;
    justify-content: center;
}


/*fin article 12*/

/*article 13*/
.article13{
    background-color: rgb(255, 102, 0);
    height: 60vh;
}
/*fin article 13*/

/*article 14*/
.article14{
    background-image: url('../images/imageFD11B.jpg');
    
    height: 100vh; 
    background-size: cover;
    background-attachment: fixed;

    display: flex;
    flex-direction: column;
    justify-content: center;
}
.article14 h1{
    color :blanchedalmond;
    margin-left: 20%;
    font-size: 5em;
}
/*fin article 14*/

/*article 15*/
.article15{
    background-color: rgb(65, 205, 10);
    height: 60vh;
}
/*fin article 15*/

/*article 16*/
.article16{
    background-color: rgb(87, 126, 255);
    height: 60vh;
}
/*fin article 16*/

/*article 17*/
.article17{
    background-color: rgb(196, 84, 252);
    height: 60vh;
}
/*fin article 17*/
